/* ---------------- VARIABLES ----------------*/
:root {
  --color-primary: #1971c2;
  --color-primary-light: #1c7ed6;
  --color-primary-dark: #1864ab;

  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #f1f3f5;
  --color-grey-light-3: #dee2e6;

  --color-grey-dark-1: #adb5bd;
  --color-grey-dark-2: #868e96;
  --color-grey-dark-3: #495057;
  --color-grey-dark-4: #212529;
}

/* ---------------- GENERAL ----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-grey-light-2);
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.hidden {
  visibility: hidden;
}

/* ---------------- LAYOUT ----------------*/
.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 2rem 4rem;

  height: 75vh;
}

/* ---------------- HEADER ----------------*/
.header {
  height: 15vh;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 5rem;
  font-weight: 300;
  color: var(--color-primary);
}

.header__logo {
  height: 80%;
}

/* ---------------- TOOLS MENU ----------------*/
.menu__tools {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.tools__list {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: relative;
}

.tools__item span {
  color: var(--color-grey-light-1);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

/* ---------------- BUTTONS ----------------*/
.btn-small {
  padding: 0.5rem 1rem;
  background-color: var(--color-grey-light-1);
  display: flex;

  width: auto;
  overflow: hidden;
  max-width: 4.5rem;
  transition: all 0.5s;
}

.btn-small,
.btn-medium {
  border: 3px solid var(--color-primary);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(99, 99, 99, 0.2);
}

.btn-small__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-small:hover {
  max-width: 300px;
}

.btn-small:hover,
.btn-medium:hover {
  background-color: var(--color-primary);
}

.copy {
  border: 3px solid green;
  background-color: green;
  cursor: default;

  position: absolute;
  top: 0;
  right: 1rem;
  display: none;
}

.copy.btn-small:hover {
  background-color: green;
}

.btn-small:active,
.btn-medium:active {
  background-color: var(--color-primary-dark);
}

.btn-small:hover .btn-small__icon,
.btn-medium:hover .btn-medium__icon {
  fill: var(--color-grey-light-1);
}

.btn-small__icon {
  fill: var(--color-primary);
  height: 2rem;
  width: 2rem;
}

.copy .btn-small__icon {
  fill: var(--color-grey-light-2);
}

.btn-medium {
  background-color: var(--color-grey-light-2);
  padding: 1rem;
  transition: all 0.3s;
}

.btn-medium__icon {
  display: block;
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-primary);
}

.btn-medium:hover {
  animation: input-pointer 0.7s infinite;
}

/* ---------------- INPUT / OUTPUT AREA ----------------*/
.input-area,
.output-area {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  clip-path: polygon(
    0% 5%,
    5% 5%,
    5% 0%,
    95% 0%,
    100% 0,
    100% 5%,
    100% 95%,
    95% 95%,
    95% 100%,
    5% 100%,
    0 100%,
    0% 95%
  );
  background-color: var(--color-primary);
}

.input__border,
.output__border {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: var(--color-grey-light-1);
  clip-path: polygon(
    0% 5%,
    5% 5%,
    5% 0%,
    95% 0%,
    100% 0,
    100% 5%,
    100% 95%,
    95% 95%,
    95% 100%,
    5% 100%,
    0 100%,
    0% 95%
  );
  z-index: -2;
}

.input-area__textarea,
.output-area__textarea {
  width: 100%;
  height: 100%;
  padding: 5.2rem 3rem 3rem 3rem;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-grey-dark-4);
  border-left: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
}

.input-area__textarea:focus,
.output-area__textarea:focus {
  outline: none;
  border-left: 0.8rem solid var(--color-primary);
  border-bottom: 0.8rem solid var(--color-primary);
}

/* ---------------- INPUT AREA ----------------*/

.input-area__textarea::placeholder {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: var(--color-grey-dark-3);
}

.invalid .input-area__textarea:focus {
  border-left: 0.8rem solid red;
  border-bottom: 0.8rem solid red;
}

.invalid .input-area__textarea::placeholder {
  color: red;
}

/* ---------------- CHANGE AREA ----------------*/

.change-area {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------- OUTPUT AREA ----------------*/
.output-area {
  height: 100%;
}

.output-area__result,
.output-area__empty {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ---------------- FOOTER ----------------*/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-dark-3),
    var(--color-grey-dark-4)
  );
  padding: 1rem 0;
  height: 10vh;
}

.footer_logo-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_logo-box p {
  font-size: 2.5rem;
  color: var(--color-grey-dark-2);
}

.footer__logo {
  height: 4.5rem;
}

.footer__author {
  width: auto;
  display: flex;
  gap: 3rem;
}

.footer__info {
  text-align: center;
  color: var(--color-grey-dark-1);
  line-height: 1.2;
  font-size: 1.3rem;
  border-right: 2px solid var(--color-grey-dark-1);
  padding-right: 3rem;
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__item {
  transition: all 0.2s;
}

.footer__item:hover {
  transform: scale(1.4);
}

.footer__item:hover .footer__icon {
  fill: var(--color-primary);
}

.footer__icon {
  display: block;
  height: 3rem;
  width: 3rem;
  fill: var(--color-grey-dark-2);
}

/* ---------------- ANIMATIONS ----------------*/

@keyframes input-pointer {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}
