/* ---------------- GENERAL ----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.hidden {
  visibility: hidden;
}

/* ---------------- LAYOUT ----------------*/
.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 2rem 5rem;

  height: 70vh;
}

/* ---------------- HEADER ----------------*/
.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  height: 60%;
}

/* ---------------- TOOLS MENU ----------------*/
.menu__tools {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.tools__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.tools__item span {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}

/* ---------------- BUTTONS ----------------*/
.btn-small {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #000;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  overflow: hidden;
  max-width: 4.5rem;

  transition: all 0.5s;
}

.btn-small:hover {
  max-width: 300px;
}

.btn-small__icon {
  display: block;
  fill: #fff;
  height: 2rem;
  width: 2rem;
}

.btn-medium {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-medium__icon {
  display: block;
  height: 2.25rem;
  width: 2.25rem;
  fill: #fff;
}

.btn-medium:hover {
  animation: input-pointer 0.7s infinite;
}

/* ---------------- INPUT / OUTPUT AREA ----------------*/

.input-area,
.output-area {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.input-area__textarea,
.output-area__textarea {
  width: 100%;
  height: 95%;
  padding: 5rem 3rem 3rem 3rem;
  border: none;
  background-color: transparent;
  resize: none;
  border: 2px solid #000;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.input-area__textarea:focus,
.output-area__textarea:focus {
  outline: none;
  border: 2px solid red;
}

/* ---------------- INPUT AREA ----------------*/

.input-area__textarea::placeholder {
  font-size: 2rem;
  font-family: inherit;
  color: #333;
}

.input-area__info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.input-area__info:hover {
  transform: scale(1.25);
}

.info__icon {
  display: block;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 0.7rem;
}

.input-area__btn-area {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

/* ---------------- CHANGE AREA ----------------*/

.change-area {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------- OUTPUT AREA ----------------*/
.output-area {
  height: 100%;
}

.output-area__result,
.output-area__empty {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ---------------- FOOTER ----------------*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #777;
  padding: 1rem 4rem;
  height: 15vh;
}

.footer__logo {
  height: 5rem;
}

.footer__info {
  text-align: center;
  width: 40rem;
  line-height: 1.2;
  font-size: 1.8rem;
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__item {
  transition: all 0.2s;
}

.footer__item:hover {
  transform: scale(1.4);
}

.footer__icon {
  display: block;
  height: 3rem;
  width: 3rem;
}

/* ---------------- ANIMATIONS ----------------*/

@keyframes input-pointer {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}
